@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #FFFFFF;
    margin: 0 0;
    padding: 0 0;
}

main {
    text-align: center;
}

main h2 {
    font-size: 2em;
}

.lighter-please {
    font-weight: 400;
}


main {
    text-align: center;
}

main h1 {
    margin-top: 5vh;
}

#info-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile_image {
    border-radius: 90px;
    background-color: rgb(196, 196, 196);
    margin-left: 10vh;
}


main h1 {
    margin-top: 5%;
}

main section {
    display: flex;
}

.profile_desc
{
    margin-left: 10%;
    width: 40%;
}

#profile_picture 
{
    border-radius: 90px;
    height: 8vh;
    width: 8vh;
    background-color: rgb(194, 194, 194);
}

#seller_profile {
    display: flex;
    align-items:flex-end;
    margin-top: -3%;
    margin-left: 5px;
}

.checked {
    color:rgb(28, 170, 28);
}

.star_votes {
    align-items: center;
    font-family: 'Quicksand', serif;
    display: flex;
    margin-top: -1%;
    margin-left: 5%
}

.star_votes p {
    margin: 5px;
    font-size: 15px;
}

.product_list {
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
}

.prod_placeholder {
    width: 28vh;
    height: 30vh;
    background-color: rgb(165, 165, 165);
    border-radius: 35px;
}

#product_picture {
    width: 30%;
    height: 30%;
}

#buy_buttons {
    margin-top: -5%;
    margin-left: 40%;
}

#buy_buttons button {
    background-color: rgb(206, 206, 206);
    width: 20%;
    height: 50px;
    border: none;
    border-radius: 30px;
    transition: 0.1s ease-in-out;
}

#buy_buttons button:hover {
    background-color: gray;
}