html {
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #FFFFFF;
    margin: 0 0;
    padding: 0 0;
}

.navbar {
    position: sticky;
    width: 100%;
    background-color: #001425;
    color: white;
}

.navbar #logo {
    color: #64A11E;
    font-weight: 700;
    font-size: 1.5em;
    margin-right: 50px;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: #64A11E;
}

.navbar input[type=text] {
    border-radius: 50px;
    border: none;
    padding: 10px;
    width: 450px;
}

.navbar li {
    display: inline;
}

.navbar #icons {
    float: right;
    padding: 10px;
}

.navbar #logo {
    font-size: 1.5em;
    margin-right: 50px;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 20px;
}