@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #FFFFFF;
    margin: 0 0;
    padding: 0 0;
}

main {
    text-align: center;
}

main h2 {
    font-size: 3.5em;
    margin-top: 15px;
    margin-bottom: 5px;
}

.lighter-please {
    font-weight: 400;
}

.navbar {
    position: sticky;
    width: 100%;
    background-color: #001425;
    color: white;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
}

.navbar li {
    display: inline;
}

.navbar #icons {
    float: right;
    padding: 10px;
}

.navbar #logo {
    color: #64A11E;
    font-weight: 700;
    font-size: 1.5em;
    margin-right: 50px;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: #64A11E;
}

.navbar input[type=text] {
    border-radius: 50px;
    border: none;
    padding: 10px;
    width: 450px;
}

.navbar li {
    display: inline;
}

.navbar #icons {
    float: right;
}

.navbar #logo {
    font-size: 1.5em;
    margin-right: 50px;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

#closest-product {
    height: 100%;
    
    background-color: #F8F7F2;
    padding-bottom: 50px;
}

#closest-product h3 {
    margin-left: calc(50% - 335px);
    width: 575px;
    padding: 12px 48px;
    color: #8AC24A;
    font-weight: 600;
    font-size: 1.8em;
    background-color: #00294D;
    border-radius: 50px;
    transform: translateY(calc(-147.11px / 6));
}

#closest-product-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
}

#shopping-bag {
    width: 240px;
}

.product-card {
    border: 1px solid lightgrey;
    text-align: center;
    width: 400px;
    height: 575px;
    border-radius: 50px;
    overflow: hidden;
    background-color: #FFFFFF;
    margin: 10px;
    transition: transform linear 0.2s, box-shadow linear 0.2s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.10);
}

.product-card img {
    width: 100%;
    height: 60%;
}

.product-card a {
    text-decoration: none;
    font-weight: 700;
    color: black;
}

.product-title {
    padding-top: 15px;
    padding-left: 10px;
    font-size: 1.85em;
    font-weight: 700;
}

.product-price {
    font-size: 2.5em;
    color: #64A11E;
    font-weight: 800;
    padding-top: 25px;
}

@media (max-width: 885px) {
    #info-section {
        flex-direction: column;
    }

    #search-field {
        display: none;
    }
}