@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    font-family: 'Lato', sans-serif;
    color: #22577A;
    background-color: #22577A;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

#title {
    margin-bottom: 3px;
}

#subtitle {
    margin-top: 3px;
    font-size: 1.2em;
}

#main-box {
    background-color: #E3FFE6;
    width: 80%;
    height: 60%;
    border-radius: 10px;
	padding: 15px 25px;
	width: 100%;
	max-width: 960px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.flexed {
    display: flex;
	flex-direction: column;
	text-align: center;
}

#login, #register{
    width: 35%;
    border: none;
    border-radius: 8px;
    margin: 5px auto;
    font-size: 1.4em;
}

#login {
    background-color: #80ED99;
}

#register {
    background-color: #6bcf82;
}

#go-back {
    background-color: #C7F9CC;
}

#profile-selection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.panel img {
    width: 250px;
    height: 250px;
    border: 4px solid black;
    border-radius: 100%;
}

.hide {
    display: none !important;
}